{$DOMAIN} {
  proxy / localhost:8080 {
      transparent
  }

  proxy /jsonrpc localhost:6800 {
    transparent
    websocket
  }

  log stdout
  errors stdout
  gzip
}

{$DOMAIN}/ui {
  redir / /ui/ 301
}

{$DOMAIN}/ui/ {
  root /usr/local/www/aria2
  timeouts none
  gzip
  log stdout
  errors stdout
}
